body {
    font-family: "Lato", sans-serif;
    background: var(--primary-color);
    background-repeat:no-repeat;
    
    width: 100%;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
     
  
  }
  #container{
    display: none;
  }
  .query { text-indent: 22px;}
   #fa-search { 
    display: none;
    position: absolute;
    top: 13px;
    left: 10px;
    color: var(--secondary-color);
  }

  #out .outdent>#signInPage{
    display: none;
  }
 #out > #signOutPage{
    display: none;
  }
#smallnav >#OutPage{
  display: none;
}
#smallnav >#InPage{
  display: none;
}
  hr{
    border: 0.1px solid gray;
    width: 90%;
    margin-inline: auto;
  }
  footer {
    display: none;
    
}
#header > #photo{
  width: 30px;
  height: 30px;
}
#page-1 section .div2> span{
  display: flex;
    gap: 4px;
}

#sec-2 {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto;
  gap: 17px;
  row-gap: 36px;

  margin-top: 40px;
  margin-inline: auto;
}
#sec-2 >section {
  width: 210px;
  height: 210px;
}
#sec-2 .div2> h5 {
  color: var(--secondary-color);
}
#sec-2 section > img {
  width: 100%;
  height: 60%;
  border-radius: 13px;
  border: 1px solid #211f1f;
}
#sec-1{
  width: 100%;
}
#page-1{
  flex-direction: column-reverse;
  display: flex;
  width: 100%;
}
#page-1 section >.Mdiv {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  border-top: 1px solid #393939;
  border-bottom: 1px solid #393939;
}
#sec-1 img{
  width: 100%;
  height: 245px;
}
#page-1 section .div1 >img{
  width: 128px;
    height: 128px;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
}
#page-1 section> .div1 {
  padding: 0 15px;
 
}
#page-1 section .Mdiv >.divM{
  display: flex;
  
}
#page-1 section .Mdiv .div3> button{
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius:20px;
  border: none;
  
}
#page-1 section .div2  span >h3,
#page-1 section .div2  span >i{
color: var(--secondary-color);
}
#page-1 section .div2 >p{
  color: gray;
  font-size: 14px;
  }
  #page-1 section .Mdiv .divM >.div2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
  }
 
#capI{
  display: none;
}
.loader {
  display: block;
  --height-of-loader: 2px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 0px;
  background-color: rgba(0,0,0,0.2);
  /* position: relative; */
  position: fixed;
  top: 0;
  left: 0;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
.errorDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
  color: var(--secondary-color);
}
.errorDiv > img{
  
  height: 108px;

}
.errorDiv > p{
  color: var(--secondary-color);
  font-size: 27px;
}
.errorDiv2{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}
.errorDiv2 >p{
  color: var(--secondary-color);
  font-size: 15px;
}
.retry {
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.retry> button {
  color: #3ea6ff;
  padding: 9px 14px;
  border-radius: 50px;
  outline: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border: 1px solid var(--signIn-border-color);
  font-weight: 600;
  background-color: var(--primary-color);
}
.retry > button:hover{

  background-color: var(--signIn-color);
}

#a55{
  background-color: var(--fifth-color);
}
#a55 >strong{
  color: var(--secondary-color);
  font-size: 15px;
  padding-right: 10px;
}
#a55 >section{
  color: var(--secondary-color);
  font-size: 15px;
  
}
#more > p{
  font-size: 15px;
  color: var(--secondary-color);
}

#myBtn{
  color: var(--secondary-color);
  margin-top: 12px;
}

  :root{
    --primary-color:white;
    --secondary-color:black;
    --third-color:rgb(230 230 230);
    --fourth-color:gray;
    --fifth-color:#f9f5f5;
    --sixth-color:#dfdede;
    --imageBorder-color:transparent;
    --icon-color:black;
    --signIn-color:#def1ff;
    --signIn-border-color:#e2e2e2;
    --subscribe-btn:#444444;
    --shadow:0 0 0px 0px #5668561f, 0 0 0px 0px #4e594e3b, 0 0 0px 0px #8b9d8b3b;
    --numbers:rgb(70 66 66);
    --sidenav-footer:white;
    
    
  }
  .dark-theme{
    --primary-color:black;
    --secondary-color:white;
    --fifth-color:#353434;
    --sixth-color:#4d4b4b;
    --imageBorder-color:#3a3a3a;
    --icon-color:red;
    --signIn-color:#1d578ad5;
    --signIn-border-color:#383838;
    --subscribe-btn:#c7c7c7;
    --shadow: -6px -67px 114px 195px #00ac001f, 0 0 0px 84px #0a4b0a00, 0 89px 69px 104px #238a231a;
    --numbers:#b2afa;
    --sidenav-footer:#1c1a1a;

  }
 
  #searchDiv{
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--fifth-color);
    justify-content: center;
    width: 100%;
    border-radius: 12px;
  }
  #searchDiv .Sbar{
    display: flex;
    position: relative;
    padding: 10px;
    cursor: pointer;
  }
  #searchDiv .Sbar:hover{
    background-color: var(--sixth-color);
  }
  #searchDiv .Sbar:first-child{
    margin-top: 10px;
  }
  #searchDiv .Sbar:last-child{
    margin-bottom: 10px;
  }
  #searchDiv .Sbar > p{
    
    font-size: 13px;
    color:var(--secondary-color);
  }



  .sidedetail{
    color: var(--fourth-color);
     padding: 20px;
     margin-left: 10px;
      line-height: 20px;
      font-size:15px ;
  }
  .sidedetailh5{
    color: var(--fourth-color);
    padding: 20px;
    margin-left: 10px;
  }

  .sidebarP{
    padding:15px 10px 10px 15px ;
     margin-left: 20px;
     font-size: 14px;
    line-height: 21px;
    color: var(--secondary-color);
  }

  

.dropbtn {
    font-size: 10px;
    color: var(--secondary-color);
    padding: 4px 8px;
    
}
.dropdown-content {
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:35px;
  right: 145px;
}

.drop{
  display: block;
}
/* .dropbtn:hover .dropdown-content{
  display: block;
} */
.dropdown-content a {
  color: var(--secondary-color);
  padding: 8px 6px;
  text-decoration: none;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  font-family: serif;
  align-items: center;
  gap: 13px;
}
.dropdown-content a > span{
  font-size: 17px;
 }
 
.dropdown-content a:hover {
 /* background-color: rgb(223, 223, 223); */
 background-color: var(--sixth-color);
}


/* .active1{

} */

  

#container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  gap: 17px;
    row-gap: 36px;
  margin: 40px;
}
#container div{
  
  height: 295px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
#container> div .middleDiv{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
 #container> div .lowerDiv{
  height: auto;
    width: 94%;
    display: flex;
    margin-inline: 16px;
    gap: 3px;
    align-items: baseline;
    flex-direction: row;
    
}
#container div .lowerDiv  .loverdiv2 > button{
  background-color:var(--sixth-color);
  color: var(--secondary-color);
}
#container div .lowerDiv  .loverdiv2 > button:hover{
  background-color:var(--fifth-color);
  color: var(--secondary-color);
}

.lowerDiv i{
  font-size: 15px;
  color: #524f4f;
  
}
.middleDiv i{
  visibility: hidden;
 
  
}
#container> div:hover .middleDiv i{

  visibility: visible;
  color: var(--secondary-color);

}

#container >div img {
  width: 100%;
  border-radius: 12px;
  height: 174px;
  border: 1px solid #3a3a3a;
}


#container >div p{
  font-size: 1.0rem;
    width: 75%;
    color: var(--secondary-color);

}

#container >div span{
  font-size: 14px;
  color: grey;
}
a{
  text-decoration: none;
}
.line{
  color:whitesmoke; 
  width:94%;
   border: 2px solid whitesmoke;
   border-color: rgb(235, 233, 233);
   margin-inline: auto;
}

.youtuber{
  padding: 7px 10px;
  background-color: gray;
  border-radius: 34px;
  color: white;
}
.focus{
  background-color:var(--secondary-color);
  color: var(--primary-color);

}
.focus1{
  background-color: #f3f3f3;

}
  #comment1{
    display: none;
  }
  .cc-1{
    display: none;
  }
  .Guideline{
    display: none;
  }
  .description{
    display: none;
   
   }
   .caption-2 {
   
    display:none;
   }
  
  
 
  .sidenav {
    height: 100%;
    width:230px;
    position: fixed;
    z-index: 1;
    margin-top: 10px;
    left: 0;
    /* background-color: white; */
    background-color: var(--primary-color);
    overflow-x: hidden;
    
    padding: 0px 2px 100px 12px;    
    
    
  }
  .siden a{
    display: flex;
  }
  .siden a> i{
    font-size: 28px;
    padding: 3px;
    color: red;

  }
  .sidenav1 {
    height: 100%;
    width: 235px;
    position: fixed;
    z-index: 11;
    margin-top: 60px;
    left: -300px;
    
    top: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    
    box-shadow: 0 40px 60px rgba(0,0,0, 0.06);
    padding: 0px 0px 100px 0px;
        transition: 0.01s ease ;
  
   
  }


  .active2{
    left: 0;
    box-shadow: 0 0px 0px 100vw rgba(0,0,0, 0.5);
  }
  
  #b1{

    padding: 0 0 0 0px;
    margin-left: 24px;
  }
  .sidenav .siden {
    display: flex;
    align-items: center;
}
  
  .sidenav a {
    padding: 10px 0 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color: #121111;  
    align-items: center;
  }
  .sidenav .a {
    padding: 7px 0 0px 30px;
    text-decoration: none;
    font-size: 14px;
    color: #121111;
    align-items: center;
    position: fixed;
    top: 0;
    width: 14%;
    background-color: var(--secondary-color);
}
  .sidenav i {
      font-size: 22px;
      padding: 0px 0 3px 0px;
      
  }
  .sidenav .icons {
    padding: 2.5px 10px 2.5px 14px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #121111; 
    margin: 0 0px 0 15px; 
    border-radius: 10px;
    cursor: pointer;
  }




  .sidenav1 .siden {
    display: flex;
    align-items: center;
}
  
  .sidenav1 a {
    padding: 10px 0 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color: var(--secondary-color);  
    align-items: center;
  }
  .sidenav1 .a {
    padding: 7px 0 0px 30px;
    text-decoration: none;
    font-size: 14px;
    color: #121111;
    align-items: center;
    position: fixed;
    top: 0;
    width: 235px;    
    background-color: var(--primary-color);
}
  .sidenav1 i {
      font-size: 22px;
      padding: 0px 0 3px 0px;
      cursor: pointer;
      color: var(--icon-color);
      
  }
  #cl{
    color: var(--secondary-color);
  }
  .sidenav1 .icons {
    padding: 2.5px 10px 2.5px 14px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #121111; 
    margin: 0 0px 0 15px; 
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
  }
.sidenav1 h2,
.sidenav1 h4{
  color: var(--secondary-color);
}



  #a{
    
    margin-top: 20px;

  }
  
  
  
  
  .sidenav .icons:hover {
    
    background-color: var(--fifth-color);
  }
  .sidenav .icons:nth-child(2) {
    margin-bottom: 10px;
   }
  .sidenav .icons:nth-child(3) {
   margin-bottom: 10px;
  }
  .sidenav .icons:nth-child(5) {
   margin-top: 10px;
   
  }
  .sidenav .icons:nth-child(6) {
  margin-bottom: 10px;
   
  }
  .sidenav .icons:nth-child(8) {
   margin-top: 10px;
  }
  .sidenav .icons:nth-child(9) {
   margin-bottom: 20px;
  }
  .sidenav .icons:nth-child(22) {
   margin-bottom: 20px;
  }
  .sidenav .icons :nth-child(21) {
   margin-bottom: 20px;
   margin-top: 20px;
   
  }
  .sidenav .icons :nth-child(26) {
   margin-bottom: 20px;
   
   
  }
  
  .sidenav #img:hover{
    background-color: transparent;
    cursor: auto;
  }
  





  .sidenav .siden {
    display: flex;
    align-items: center;
}
  
  .sidenav a {
    padding: 10px 0 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color:var(--secondary-color);  
    align-items: center;
  }

  
  .sidenav .a {
    padding: 7px 0 0px 30px;
    text-decoration: none;
    font-size: 14px;
    color: var(--secondary-color);
    align-items: center;
    position: fixed;
    top: 0;
    width: 14%;
    background-color: var(--primary-color);
}
  .sidenav i {
      font-size: 18px;
      padding: 0px 0 3px 0px;
      color: var(--icon-color);
      
  }
  .sidenav .icons {
    padding: 2.5px 10px 2.5px 14px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
   
    margin: 0 0px 0 15px; 
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #a{
    
    margin-top: 0px;

  }
  
  
  
  
  .sidenav1 .icons:hover {
    
    background-color: var(--fifth-color);
  }
  
  .sidenav1.icons:nth-child(3) {
   margin-bottom: 10px;
  }
  .sidenav1 .icons:nth-child(5) {
   margin-top: 10px;
   
  }
  .sidenav1 .icons:nth-child(6) {
  margin-bottom: 10px;
   
  }
  .sidenav1 .icons:nth-child(8) {
   margin-top: 10px;
  }
  .sidenav1 .icons:nth-child(9) {
   margin-bottom: 20px;
  }
  .sidenav1 .icons:nth-child(22) {
   margin-bottom: 20px;
  }
  .sidenav1 .icons :nth-child(21) {
   margin-bottom: 20px;
   margin-top: 20px;
   
  }
  .sidenav1 .icons :nth-child(26) {
   margin-bottom: 20px;
   
   
  }
  









  .main {
    width: 100%;
    font-size: 18px; 
    margin-top: 30px;
    margin-right: 12%;
    height: 100%;
    background-color:var(--primary-color);
    
    
    
  }
  .main h2{
    margin-left: 30px;
    
    
  }
  

  
  
  #header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
     background-color:var(--primary-color);
     padding: 5px 20px 5px 20px;
      position:fixed;
      top: 0;
      left: 0;
      z-index: 10;
      
     
  }
  #navbar{
      display: flex;
      align-items: center;
      justify-content:center ;
      position: relative;
      
  }
  #close{
     display: none;
  }
  #navbar li{
       padding: 0 20px;
       position: relative;
       list-style: none;
      
  }
  #navbar li a{
     text-decoration: none;
     font-size: larger;
     font-weight: 200;
     color:var(--secondary-color);
     transition: o 0.3s ease ;
  }
  
  
  
  
  
  .grid p{
    font-size: small;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  
  
  
  .submit{
    
    padding:10.1px 0px 10.1px 20px;
    margin-top: 0px;
    
    background:var(--primary-color);
    font-size: 17px;
    border: 1px solid rgb(199, 196, 196);
    cursor: pointer;
    border-bottom-left-radius: 50px;
    border-top-left-radius:50px;
    border-right: none;
    display:none;
    
    
 

  }
  

 
  

  #sidebar .side .tab 
  {
    top: -43px;
    position: relative;
    font-size: 20px;
    margin: 16px 0 0 33px;
    visibility:hidden;
    
}
.information .tab{
  
  
  font-size: 20px;
  margin: 8px 0 0 33px;
  visibility:hidden;
  
}
#sidebar .side:hover .tab{
  visibility:visible;
  
}


.information:hover .tab
{
  visibility:visible;
  
}

  


  
  #header button {
    float: right;
    padding: 9px 20px;
    margin-top: 0px;
    margin-right: 10px;
    background: var(--fifth-color);
    font-size: 17px;
    border: 0.1px solid var(--signIn-border-color);
    cursor: pointer;
    border-bottom-right-radius: 50px;
    border-top-right-radius:50px;
    outline: none;
  }
  #header button:hover {
      background-color: var(--sixth-color);
  }
  #header input[type=text] {
    padding: 10px 10px 10px 15px;
    margin-top: 0px;
    font-size: 16px;
    color: var(--secondary-color);
    
  }
 #header input:focus,
      input:active {
        border-color: transparent;
        border: 1px solid #1c87c9;
      }


  #header button i{
    color: var(--secondary-color);
  }
  #header input {
      outline: none;
      border: 0.1px solid var(--signIn-border-color);
      border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 540px;
    cursor: pointer;
    background-color: var(--primary-color);
  }


  
  
  

  
  
  #header img{
     width: 36px;
     height: 36px;
     cursor: pointer;
     border-radius: 50%;
  }
 #out> #signOutPage{
    padding: 0;
  }
  
  #navbar .mick i{
   padding: 10px 15px 10px 15px;
 
   color: var(--secondary-color);
   margin-top: 2px;
   cursor: pointer;
   font-size: 20px;
   
  }
  #navbar .mick {
   border-radius: 50%;
   background-color: var(--fifth-color);
  
   
  }
  #navbar .mick:hover {
   border-radius: 50%;
  background-color:var(--sixth-color);
   
  }
  #out{
      display: flex;
      align-items: center;
      
      
  }
  #out i{
      display: flex;
      font-size: 16px;
      font-weight: 100;
      color: var(--secondary-color);
      cursor: pointer;
      font-weight: 900;
      
  }
  #out .outdent{
     margin-left: 20px;
     border: 0.1px solid var(--signIn-border-color);
      border-radius: 50px;
      padding: 8px 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
      
      
  }
  #out .outdent:hover{
     background-color:var(--signIn-color);
     border-color:transparent ;
  }
  #out .outdent i{
     margin-right: 9px;
     font-size: 18px;
     color: #3ea6ff;
     
     
  }
  #out .outdent h4{
    cursor: pointer;
     font-weight: 600;
     color: #3ea6ff;
     margin-right:10px ;
     font-size: 13px;
     margin-top: 1px;
     
  }
  #header .siden {
   display: flex;
   
   align-items: center;
  }
  
  


#bars:hover{
  background-color: var(--sixth-color);

}
  
  
  #outdent div{
    
    align-items: center;
    margin-left: 0px;
     border: 1px solid var(--signIn-border-color);
      border-radius: 50px;
      padding: 3px 8px 3px 0px;
      display: flex;
      width: 100px;
     
      align-items: center;
      font-weight: 300;
     color:  #3ea6ff;
     margin-right:50px ;
  }
  #outdent {
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
  }
  #outdent h4{
    font-size: 14px;
    font-weight: 600;
  }
  #outdent div:hover{
    background-color:var(--signIn-color);
     border-color: transparent;
  }
  
  
  #outdent i {
    
     font-size: 20px;
     color:#3ea6ff;
     align-items: center;
     padding: 3px 10px 3px 10px;
  }
  #header .siden #bars {
   font-size: 20px;
   font-weight: 100;
   margin-right: 16px;
   padding: 9px 10px;
   border-radius: 50%;
   cursor: pointer;
   font-weight: 900;
   color: var(--secondary-color);
  }

  #header #logo{
    margin: 0;
    font-size: 28px;
    padding: 3px;
    color: red;
  }
  /* #header a> i:hover{
    background-color: blue;
  } */
   .YouTube{
    font-weight: bold;
    font-size: 21px;
    font-family: auto;
    color: var(--secondary-color);
  }

  #cl:hover{
    background-color: rgb(227, 222, 222);
  }
  
  .page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
  }
  #button{
    display: flex;
    padding: 8px 20px 12px 20px;
    background-color:var(--primary-color);
    width: 90%;
    position:fixed;
    z-index: 1;
   
   
    
  }
  #button button{
     padding: 8px 12px;
     border-radius: 10px;
     border: none;
     margin-right:14px ;
     font-size: 15px;
     cursor: pointer;
     background-color:var(--fifth-color);
     color: var(--secondary-color);
  }
  #button button:hover{
     background-color:var(--sixth-color);
     color: var(--secondary-color);
  }
  
  
  .card{
    margin-top: 20px;
  }
  .febin{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 230px;
    
  }
 
  
  

  .fakeimg .w {
    width: 100%;
    height: 180px;
    
    margin: 0;
    border-radius: 15px;
}


.fakeimg .w:hover{
  transition: 1s ease;
  transform: scale(1.01);
 
  border-radius: 0px;
}
.fakeimg.information:hover  .w{
  transition: 1s ease;
  transform: scale(1.01);
 
  border-radius: 0px;
}
  .fakeimg video{
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .fakeimg img{
    
    width: 40px;
    height:40px;
    border-radius: 50%;
    margin: 10px 10px 0px 0px;
    object-fit:fill;
  }

  
  
  .fakeimg{
    
    font-size: 30px;
    align-items: flex-start;
   
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
   
    border-radius: 20px;
    border-color:white ;
    padding: 0px;
    
  }
  .fakeimg .information{
    width: 100%;
    display: flex;
  }
  .fakeimg .information i{
    color: #5d5c5c;
  }
  
  .fakeimg .subs {
    
    padding: 0px 0px 0px 0px;
    float: left;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    float: left;
   }
   .fakeimg .subs h5 {
    margin: 10px 0 10px 0;
    font-size: 15px;
    color: black;
    
    
   }
   .fakeimg .subs p {
    color:#6c6c6c;
    line-height: 19px;
   }
  
  
   .fakeimg .subs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
   }
   
   .grid {
    display: grid;
    grid-column-gap:20px; 
    grid-template-columns: auto auto auto auto;
    padding: 50px 40px 50px 44px;
    grid-row-gap: 40px;
    width: 100%;
    
  
  }
  
  ::-webkit-scrollbar {
    width: 14px;
  }
  
  /* Track */
   ::-webkit-scrollbar-track {
   background:none; 
   width: 12px;
   border:3px solid  var(--primary-color);
  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border:3px solid  var(--primary-color);
    
    border-radius:50px;
  }
  #button::-webkit-scrollbar-thumb {
    background:none; 
    
  }
   
  /* Handle on hover */
  .sidenav:hover::-webkit-scrollbar-thumb {
    background:gray; 
    
    border-radius:50px;
  }
  .sidenav::-webkit-scrollbar-thumb {
    background:none; 
    
  
  }
  

  
  .grid-1{
    display: grid;
    grid-column-gap:10px; 
    grid-template-columns: auto auto auto auto auto auto auto ;
    padding: 0px 50px 80px 56px;
    grid-row-gap: 50px;
    margin-top: 10px;
    
    margin-bottom: 20px;
  }
  
  .sidenav .icons:active
  {
      background-color:rgb(230 230 230);
   }

   .page-1 #video {
    height: 50%;
    width: 90%;
}
#play {
  width: 100%;
  height: 705px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
#video > #play iframe{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  
}
.page-1{
  display: flex;
  margin-top: 50px;
  
}
#sidebar{
  padding: 20px 10px 20px 20px;
  margin-top: 10px;
  width: 32%;
  margin-right: 59px;
  
}

.side img{
  width: 160px;
  border-radius: 10px;
}
#sidebar .side{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 250px;
  gap: 12px;
  flex-direction: column;
}
#sidebar section{
  display: flex;
  gap: 3px;
  width: 100%;
  cursor: pointer;
  

}
#sidebar >.side div{
  margin-left: 10px;
  display: flex;
  
}
#sidebar >.side .div2{
  display: flex;
    flex-direction: column;
  
}
#sidebar >.side h5{
  font-size: 15px;
  width: 170px;
  line-height: 20px;
  margin-bottom: 6px;
  color: var(--secondary-color);
  
}
#sidebar >.side p{
  font-size: 13px;
  color: gray;
  line-height: 20px;
}
#video{
  margin-left:105px ;
  margin-top: 30px;
}

#video .caption{
  display: flex;
  width: 100%;
  margin-top: 15px;
  align-items: center;
}
#video .caps{
  display: flex;
  justify-content: space-between;
  padding: 0 13px;
}
#video .caption-1{
  display: flex;
  margin-top:15px;
  align-items: center;
}
#video .caption-1 .a1{
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  cursor: pointer;
  
  margin-right: 10px;
  border-right-color: grey;
  
}
#video .caption-1 .a1 i{

  padding: 10px;
  border-top: transparent;
  border-bottom: transparent;
  border-right: transparent;
  
}
#video .caption-1 .a22{
  
  display: flex;
  
  margin-right: 10px;
  background-color: whitesmoke;
}
#video .caption-1 .a22 div{
  
  display: flex;
  align-items: center;
  cursor: pointer;
 
}
#video .caption-1 .a22 i,
#video .caption-1 .a22 h5{
  
  font-size: 15px;
  margin-right: 5px;
  padding: 10px 0px 10px 10px;
 
}
#video .caption-1 .a3 i,
#video .caption-1 .a3 h5{
  
  font-size: 15px;
  margin-right: 5px;
  padding: 10px 0px 10px 10px;
 
}
#video .caption-1 .a4 i,
#video .caption-1 .a4 h5{

  font-size: 15px;
  margin-right: 5px;
  padding: 10px 0px 10px 10px;
 
}
#video .caption-1 .a5 i
{
  
  font-size: 15px;
 cursor: pointer;
  padding: 10px 10px 10px 10px;
 
}


#video .caption-1 .a4{
  
  display: flex;
  border-radius: 50px;
  margin-right: 10px;
 
}
#video .caption-1 .a4 div{
  
  display: flex;
  background-color:var(--fifth-color);
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  color: var(--secondary-color);
 
}
#video .caption-1 .a4 div:hover{
  
  display: flex;
  background-color: var(--sixth-color);
  border-radius: 50px;
 
}
#video .caption-1 .a5{
  
  display: flex;

  margin-right: 10px;
  background-color:var(--fifth-color);
  border-radius: 50px;
  color: var(--secondary-color);
}
#video .caption-1 .a22 {
  background-color:var(--fifth-color);
  color: var(--secondary-color);
  border-radius: 50px;
  
}
#video .caption-1 .a1{
  background-color: var(--fifth-color);
  border-radius: 50px;
  color: var(--secondary-color);
  
}
#a12:hover{
  background-color: var(--sixth-color) ;
  border-top-right-radius:20px ;
  border-bottom-right-radius:20px ;
  
}
#video .caption-1 .a22:hover{
  background-color: var(--sixth-color);
 
  
}
#video .caption-1 .a4:hover{
  background-color: var(--sixth-color);
  
  
}
#video .caption-1 .a5:hover{
  background-color: var(--sixth-color);
  
  
}

sup {
  vertical-align: super;
  font-size: 10px;
  margin: 0 0 20px 5px;
  color: var(--secondary-color);
}
#header .siden a  {
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
 

#video .caption h5{
 line-height: 30px;


}
#video .caption div{
  margin-left: 10px;
}
#video .caption div:nth-child(3){
  margin-left: calc(33% - 53px);
}

#video .caption img{
  padding: 3px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  object-fit:cover;
  border: 0.1px solid #464444;
  cursor: pointer;
  
}


#a11{
 border-right: 1px solid rgb(162, 160, 160);
 border-top-left-radius:20px;
 border-bottom-left-radius:20px;
 display: flex;
 align-items: center;
 
}
#a11:hover{
  background-color: var(--sixth-color);
  
 }

#a11 i,
#a11 h5{
  
  font-size: 15px;
  margin-right: 5px;
  padding: 10px 0px 10px 10px;
 }

 

 #video  h4{
  margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
    padding: 0 13px;
    color: var(--secondary-color);
}
#video .caption h5 {
  font-size: 16px;
  cursor: pointer;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 7px;
}
#video .caption p {
  font-size: 13px;
  color: rgb(121, 119, 119);
  cursor: pointer;
  gap: 6px;
  display: flex;
}
#video .caption button{
 
  padding: 10px 20px;
  border-radius: 20px;
  border-color: transparent;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  
}


#video .caption button:hover{
 
  background-color:var(--subscribe-btn);
  
}

   #video video{
    width: 100%;
    
    padding: 0px 10px 10px 50px;
    margin-top: 25px;
    object-fit:fill;
    
   }

   #sh {
    display: flex;
    margin: 20px 0 0 55px;
}
.grid .c{
  display: none;
}
.grid .b{
  display: none;
  
}
#smallnav{
 
  display:none;
}
#y{
  display:none;
}
#touch{
  display: none;
}

#more {display: none;}
div #mybtn{
cursor:pointer;


}
#a55{
  background-color:var(--fifth-color);
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  margin-top: 15px;
}
#a55:hover{
  background-color:var(--sixth-color);
 
}
#comment .c-2{
  display: flex;
  padding:10px 0 0 0;
  margin-top: 10px;
  align-items: center;
  color: var(--secondary-color);
}
#c-22{
 margin-left: 30px;
 
}
#c-3 img {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  background-color: #5175a3;
}
.c-3{
  display: flex;
  margin-top:25px;
}
#c-33::after{
  content: "";
  width: 98%;
  height: 2px;
  background-color: var(--secondary-color);
  display: block;
}
#c-3{
  margin-right: 13px;
  color: var(--secondary-color);
  font-size: 44px;
}
#c-33{
  
  margin-left: 8px;
  
  width: 100%;
  
  
}
#c-33 input{
  border: none;
  font-size:15px;
  outline: none;
  width: 100%;
  padding-bottom: 6px;
  background-color:var(--primary-color);
}
#c-33 input[type="text"]{
  color: var(--secondary-color);
}
#d-1{
  display: flex;
  margin-top: 5px;
  align-items: center;
  color: var(--secondary-color);
}
#d-1 div{
  cursor: pointer;
  margin-right: 17px;
  
}
#d-1 i{
  
  font-size: 18px;
  padding: 7px;
  border-radius: 50px;
 
}
#d-11:hover{
  background-color: var(--sixth-color);
}
#d-1 i:hover{
  
  
  background-color: var(--sixth-color);
}
#d-1 img{
  margin-left: 0px;
 
}
#d-2{
  display: flex;
  flex-direction: column;
  
}
.d-4{
  
  border-radius: 50px;
  margin-top: 0px;
  padding: 7px 0px 7px 10px ;
  width: 15%;
  cursor: pointer;
}
.d-4:hover{
 background-color:#def1ff;
}
.d-4 i{
  font-size: 19px;
  color: #065fd4;
}
.d-5{
  display: flex;
}
.d-1{
  margin-top: 30px;
}
.d-2{
  display: flex;
  margin-bottom: 0px;
}
.d-2 img{
  border-radius: 50%;
}
.d-3{
  margin-left: 20px;
  margin-bottom: 30px;
}
.d-3 p{
  margin-bottom: 10px;
  font-size: 12px;
  color: gray;
  
}
.d-3 p i{
  font-size: 10px;
  color: #121111;
  
}
.d-3 h5{
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
  color: var(--secondary-color);
}



#myLinks {
  display: none;
  width: 400px;
  
}
#myLinks1 {
  display: none;
  width: 400px;
  
}
#video .caption-1 .a44 ,
#video .caption-1 .a45 
 {
  
  display:none;
 }

 @media(max-width:1600px){
  #video {
    margin-left: 18px;
    margin-top: 30px;
}
  
  #container {
   
    grid-template-columns: repeat(4,1fr);
    
}
#sec-2 {
  
  grid-template-columns: repeat(5,1fr);
  
}


}

 @media(max-width:1500px){
  #video {
    margin-left: 18px;
    margin-top: 30px;
}

  .page-1 #video {
    height: 50%;
    width: 70%;
}
  #video .caption-1 .a4 {
    display: flex;
    border-radius: 50px;
    margin-right: 10px;
    display: none;
}
  #sidebar >.side h5 {
    font-size: 15px;
    width: 154px;
    line-height: 20px;
    margin-bottom: 6px;
    color: var(--secondary-color);
}

  #container {
   
    grid-template-columns: repeat(3,1fr);
    
}
#sec-2 {
  
  grid-template-columns: repeat(4,1fr);
  
}
  #button {
    display: flex;
    padding: 8px 20px 12px 20px;
    
    overflow-x: auto;
}

.grid {
  
  padding: 70px 55px 50px 70px;
  
}
 }
@media (max-width:1300px) {
  #video {
    margin-left: 18px;
    margin-top: 30px;
}
  #sidebar >.side h5 {
    font-size: 15px;
    width: 122px;
    line-height: 20px;
    margin-bottom: 6px;
    color: var(--secondary-color);
}
  .side img {
    width: 155px;
    border-radius: 10px;
}
  .sidenav1 .a {
    padding: 7px 0 0px 23px;
    
}
 .page{
  margin-top: 55px;
 }

  .febin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 8%;
    
}
footer > div:nth-child(4){
  display: none;
}
  .grid-1 {
    
    padding: 0px 50px 80px 0px;
   
}
#button button {
  padding: 8px 12px;
  border-radius: 7px;
  border: none;
  margin:5px 12px 5px 0px;
  font-size: 15px;
  cursor: pointer;
}
  .sidenav {
    
    padding: 20px 4px 10px 12px;
    
    width: 7%;
}
.grid-1{
  padding: 0px 0 110px 0;
}
.grid {
  
  padding: 50px 116px 50px 97px;
  width: 100%;
  grid-template-columns: auto auto ;
  
}
.sidenav .icons {
  padding: 14.5px 10px 16.5px 14px;
  margin-bottom: 10px;
  flex-direction: column;
  margin-left:0px ;
 
}
.sidenav .icons a{
  padding-top: 3px;
}
.sidenav hr {
  display: none;
 
}
.sidenav a {
  padding: 10px 0 0px 0px;
  
  font-size: 10px;
  
 
}
/* .sidenav .icons:nth-child(3) {
  margin-bottom: 0px;
   
  } */
#button {
  display: flex;
  padding: 0px 20px 5px 47px;
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  margin: 0;
  
}
#a {
  margin-top: 0px;
}
#cap-2{
  display: none;
}
#header {
  margin-top: 0px;
  width: 100%;
  padding: 5px 20px 9px 20px;
  position: fixed;
}

.sidenav {
 
  margin-top: 0px;
  
}

/* #button .a{
  display: none;
} */


#header input {
 
  width: 320px;
 
}



}  
@media(max-width:1100px){
  #video {
    margin-left: 18px;
    margin-top: 30px;
}
  #sidebar >.side h5 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 6px;
    width: 100%;
    color: var(--secondary-color);
}

.side img {
  width: 40%;
  border-radius: 10px;
}

  ::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar-track {
  background: none;
}

  #sidebar section {
    display: flex;
    gap: 3px;
    width: 100%;
    cursor: pointer;
    flex-direction: row;
}



#video > #play iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 14px;
}
#play {
  width: 100%;
  height: 465px;
}


  #container {
   
    grid-template-columns: repeat(2,1fr);
    
}
#sec-2 {
  
  grid-template-columns: repeat(2,1fr);
 
  
}
  
  #header input {
 
    width: 200px;
  }
}

@media(max-width:950px){

  #comment{
    padding: 15px;
  }

  #a55 {
    background-color: var(--fifth-color);
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin: 12px;
}

  .side img {
    width: 190px;
    border-radius: 10px;
}
  #sidebar >.side h5 {
    font-size: 15px;
    width: 100%;
    line-height: 20px;
    margin-bottom: 6px;
    color: var(--secondary-color);
}
  #sidebar .side {
    
    width: 100%;
   
}
  #sidebar {
    padding: 20px 10px 20px 20px;
    margin-top: 10px;
    width: 100%;
    margin-right: 127px;
}


  #sidebar section {
    display: flex;
    gap: 3px;
    width: 100%;
    cursor: pointer;
    flex-direction: row;
}

  #play {
    width: 100%;
    padding: 13px;
    border-radius: 0px;
}
.page-1 #video {
  height: 50%;
  width: 100%;
}

.page-1 {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}
#video {
  margin-left: 0;
  margin-top: 30px;
}
#page-1 section .div2 span >h3, #page-1 section .div2 span >i {
  color: var(--secondary-color);
  font-size: 15px;
}
}

@media(max-width:490px){
  .middleDiv i {
    visibility:visible !important;
}
#container> div:hover .middleDiv i{

  visibility: unset !important;
  color: var(--secondary-color);

}
  #capI{
    display: flex;
  }
  #bar{
    font-size: 22px;
    color: var(--secondary-color);
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
  }
  #bar:hover{
    background-color: transparent;
  }
  #sidebar {
    padding: 20px 10px 20px 20px;
    margin-top: 10px;
    width: 100%;
    margin-right: 127px;
}
#sidebar section {
  display: flex;
  gap: 3px;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
}


 


#play {
  width: 100%;
  height: 242px;
  padding: 0px;
}

#video > #play iframe {
  width: 100%;
  height: 242px;
  border: none;
  border-radius: 0px;
}

  #header img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
  .page{
    margin-top:50px;
  }
  sup{
    display: none;
  }
  #bars {
   display: none;
}

#header input {
 
  display: none;
}
#header  {
  padding: 0px 10px 0 10px;
  position: fixed;
  height: 53px;
  z-index: 1;
}
#navbar{
  display: none;
}
.grid{
  grid-template-columns: auto ;
  width:100%;
  
  padding: 0px 0px 0px 0px;
    grid-row-gap:0px;
  display: grid;
}
.grid .b{
  width:100%;
   height: 8px;
   color: rgb(207, 82, 82);
   background-color: rgb(228 228 228 / 94%);
   border-color: transparent;
  display: initial;
}
#touch{
  display: initial;
  margin-left: 10px;
}


.sidenav {
    
  width: 300px;
 
  top: 0;
  z-index: 2;
  left: -300px;
  margin-top: 0;
  padding-top: 0;
  box-shadow: 0 40px 60px rgba(0,0,0, 0.06);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  background-color: var(--sidenav-footer);
 justify-content: flex-start;
}

.active {
    
   left: 0px;
   box-shadow: 10px 10px 5px 500px rgb(0 0 0 / 80%);
   
  }
.sidenav #a,
.sidenav #b,
.sidenav #c,
.sidenav #d,
.sidenav #e,
.sidenav #o,
.sidenav #p,
.sidenav #q,
.sidenav #r,
.sidenav #s,
.sidenav #t,
.sidenav #u,
.sidenav #v,
.sidenav #w
{
   display: none;
   margin: 0;
}
#y{
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin: 15px;
}
#close{
  display: initial;
  color: var(--secondary-color);
}

#y i {
  display: flex;
  align-items: center;
  
}
#y i:first-child {
  font-size: 32px;
  color: red;
}
#y i:first-child p{
  font-size: 21px;
  color: var(--secondary-color);
  padding: 6px;
  font-family: initial;
  font-weight: bold;
}
#outdent{
  display: none;
}
#out{
  display: none;
}
#cap-2{
  display:initial;
}
#cap-2 p,
#cap-2 h2,
#cap-2 h4,
#cap-2 h5{
  display:none;
}
.sidenav .icons:nth-child(6) {
  margin-bottom: 20px;
}
.sidenav .icons {
 
  margin-bottom: 20px;

}
.sidenav .icons{
  flex-direction: row;
  align-items: center;
}
.sidenav .icons i{
  margin-right: 30px;
  
}
.sidenav .icons a{
  font-size: 15px;
  padding-top: 0;
  
}

.fakeimg {
  font-size: 30px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  
  padding: 0px;
}
a{
  color:grey;
  text-decoration: none;

}
.fakeimg video {
  
  border-radius: 0;
  height: 215px;
}
#button {
  overflow-x: auto;
  width: 100%;
  position: fixed;
  margin-left: 0;
  z-index: 0;
  padding: 0px 0px 0px 0px;}
.main {
  
  font-size: 18px;
  margin-right: 0%;
  width: 100%;
  margin-top: 65px;
  
 
}
#container{
    grid-template-columns: repeat(1,1fr);
    margin: 0px;
    
}
#sec-2 {
  
  grid-template-columns: repeat(1,1fr);
  margin-inline: 0px;
  width: 100%;
  
}
#page-1 section .Mdiv .div3> button {
  
  top: 80%;
  position: relative;
}
#page-1 section .div1 >img {
  width: 90px;
  height: 90px;
  border: 1px solid #1f1f1f;
  border-radius: 50%;
}
#page-1 section .div2 span >h3, #page-1 section .div2 span >i {
  color: var(--secondary-color);
  font-size: 15px;
}
#page-1 section .div1 {
  justify-content: center;
    display: flex;
}

#sec-2 >section {
  width: 100%;
  height: 257px;
}
#sec-2 section > img {
 border-radius: 0px;
 height: 210px;
}
#sec-2 section  div> .div2{
  padding: 14px;
  gap: 12px;
  display: flex;
  flex-direction: column;
 }
#page-1 section .Mdiv >.divM {
  display: flex;
  flex-direction: column;
}
#page-1 section .Mdiv >.div3 {
  padding: 10px;
}
#container div{
  height: 100%;
}
#container >div img {
border-radius: 0;
}
#container> div .lowerDiv {
  margin-inline: 0px;
  padding: 0 17px;
}
.febin {
  display: flex;
  flex-direction: column;
  width: 100%;
 margin-left: 0%;
}
.card {
  margin-top: 0px;
  width: 100%;
  overflow-x: auto;
}
#sh{
  
  margin: 40px 0 0 0px;
  position:sticky;
}
.grid-1 {
  
  padding: 0px 0px 0px 0px;
  grid-row-gap: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 10px;
  
  
  
}
.grid-1 .fakeimg video{
  height: 250px;
  width: 170px;
  border-radius: 6px;
}
.fakeimg .subs div {
 display: flex;
}

.fakeimg .w {
  width: 100%;
  height: 220px;
  border-radius: 0;
  margin: 0;
}
footer > div:nth-child(4) {
  display: initial;
}
.fakeimg img {
  
  border-radius: 50%;
  margin: 10px 10px 0px 10px;
  object-fit: fill;
}
.fakeimg .subs h5 {
 
 
 padding-right:2px;
 margin-bottom: 5px;
}
.fakeimg .subs p {
  font-size: 12px;
  font-weight: bolder;
 }
 .fakeimg .subs p i {
  display: none;
 }
#grid-1 .fakeimg{
  width: 30%;
  height: 100%;
}
.grid .c{
  display: initial;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position:fixed;
   left: 0;
   bottom: 0;
  width: 100%;
   background-color:var(--sidenav-footer) ;
}

footer .d>i,
footer p{
color: var(--secondary-color);
}
footer div{
  align-items: center;
  text-align: center;
  cursor: pointer;
  
}
footer div:hover,
footer img:hover{
  
  color:rgb(68, 68, 68);
  
}
footer div p{
 font-size: 9px;
}


footer .d {
  font-size: 25px;
  cursor: pointer;
 }
 footer .e {
  font-size: 30px;
 
 }

  #smallnav{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
  
  }
 #smallnav i{
  font-size: 20px;

  margin-bottom: 0px;
  color: var(--secondary-color);
  cursor: pointer;
  
}


.page-1{
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top:0px;
}
.page-1 #video {
  width: 100%;
  height: 600px;
}
#video {
  margin-left: 0px;
  margin-top: 0px;
}
#video .caps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}
#video .caption button {
  
  padding: 8px 11px;
}


#video .caption .button1{
  margin-left: 70px;
  padding: 8px 11px;
}

#video .caption .button{
  margin-left: 25px;
  padding: 8px 11px;
}
#video .caption h5 {
  font-size: 13px;
  cursor: pointer;
}

#video iframe{
  height: 224px;
  border-bottom: 3px solid white;
  position: fixed;
  z-index: 3;
}
#video h4 {
  margin-left: 0px;
  margin-right: 0;
  margin-top: 10px;
}
#a55 {
  margin-left:10px;
  margin-right: 10px;
  display: none;
}
#comment .c-2 {
  margin-left:10px;
  margin-right: 10px;
}
.c-3,
.c-2,
.d-1 {
  margin-left:10px;
  margin-right: 10px;
}
#sidebar {
  padding: 0;
  width: 100%;
  margin: 0;
}
#sidebar .side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 0px;
}
#sidebar .side iframe {
  width: 100%;
  height: 211px;
}
#sidebar .side img {
  width: 100%;
  height: 211px;
  border-radius: 0;
}
#sidebar .side div {
  margin: 10px 0px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#sidebar .side div> .div2  {
  display: flex;
  flex-direction: column;
}

#sidebar .side div> .dot {
 display: none;
}


.sub {
  display: flex;
  align-items: baseline;
}
.sub span{
  display:none;
}
.sub p{
  width: 60px;
  margin-top: 7px;
  margin-left: 10px;
}
#video .caption h5 i {
  display: none;
}
#video .caption-1 .a44 div,
#video .caption-1 .a45 div
 {
  background-color: var(--fifth-color);
  border-radius: 50px;
  color: var(--secondary-color);
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}
#video .caption-1 .a44 i, #video .caption-1 .a44 h5,
#video .caption-1 .a45 i, #video .caption-1 .a45 h5,
#video .caption-1 .a22 i, #video .caption-1 .a22 h5 ,
#a11 i, #a11 h5 ,
#video .caption-1 .a4 i, #video .caption-1 .a4 h5 {
  font-size: 15px;
  margin-right: 5px;
  
  /* color: ; */
  padding: 10px 10px 10px 10px;
}
#video .caption-1 {
  overflow-x: auto;
}
#video .caption-1 .a44 ,
#video .caption-1 .a45 
 {
  
  display:initial;
 }
 .caption-2 div {
  font-size: 13px;
  color: var(--numbers);
  margin-top: 10px;
  cursor: pointer;
  gap: 9px;
  display: flex;
}
 .caption-2 {
 
  display: initial;
 }
 .caption-2 div strong{
  color:var(--secondary-color);
 }
 .description{
  width:100vw;
  position: fixed;
  bottom: calc(-100% + 242px);
  z-index: 6;
  right: 0%;
  left: 0;
  /* height: 535px; */
  height: calc(100% - 242px);
  background-color: white;
  box-shadow: 0 0px 50px black;
  display: initial;
  overflow-y: scroll;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: 0.2s ease-in-out;
  color: var(--secondary-color);
  background-color: var(--primary-color);
 
 }


 .active1{
  bottom: 0;
 }
 .description .desc1{

  display: flex;
  padding:30px 20px 10px 20px;
  font-size: 19px;
  justify-content: space-between;
  position: fixed;
    width: 100vw;
    background-color: white;
    border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #d0d0d0;
  background-color: var(--primary-color);
    
 }
 .description .desc2{

  margin-top: 58px;

  padding: 20px 20px 0 20px;
 }
 .description .desc2 .de-2{

  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
 }
 .description .desc2 .de-2 .d-2{
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
 }
 .description .desc2 .de-2 .d-2 .small{
  font-size: 10px;
   }
   .description .desc3{

    
    padding: 10px 20px;
    
   }
   .description .desc3 a{

    text-decoration: none;
    color:#006eff;
    
   }
   .description .desc3 p:nth-child(2){

    
    line-height: 60px;
    
   }
   #c-22 {
    display: none;
}

#myLinks{
  width: 290px;
  margin-top: 18px;
}
#myLinks1{
  width: 290px;
  margin-top: 18px;
}
.d-4:hover {
  background-color: #def1ff;
  width: 97px;
}
.d-3 h5 {
  line-height: 20px;
  display: flex;
  font-weight: 700;
}
.cc-1{
  display: flex;
  justify-content: space-between;
  padding: 26px 10px 10px 10px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color:white;
}
   
#comment .c-2{
  display: none;
}
.c-3 {
 margin-bottom: 5px;
  align-items: center;
}
#c-33 {
  padding: 12px;
  border-radius: 10px;
  background-color:var(--primary-color);
  margin: 0;
  width: 305px;
  
}
#c-33 input {
  width: 292px;
  background-color: var(--primary-color);
}
#c-3 img {
  width: 35px;
  height: 35px;
  
}
.Guideline{
  padding: 20px 10px;
  background-color: var(--primary-color);
  border-top: 1px solid #eadbdb;
  
}

.Guideline span a{
  text-decoration: none;
  color: #006eff;
}#comment{
  padding: 0px;
}
.comment{
  width:100vw;
  position: fixed;
  transition: 0.5s ease;
  
  z-index: 5;
  right:0;
  left: 0;
  bottom: -100%;
  height: calc(100% - 242px);
  background-color: var(--primary-color);
  box-shadow:0 0px 50px black;
  display: initial;
   padding: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow-y: auto;
  
}
.act{
  bottom: 0;
}

.fakeimg .information {
  width: 100%;
  display: flex;
  height: 80px;
}
#comment1{
  padding: 10px;
  border-radius: 10px;
  background-color: var(--fifth-color);
  margin: 10px;
  color: var(--secondary-color);
}
/* #comment1:active{
 
  background-color: rgb(196, 192, 192);
  
} */
#c1-2{
  padding: 10px 10px 10px 0px;
}
#c1-2 span{
  color: gray;
  font-size: 13px;
}
#c2-2{
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#c2-2 img{
  border-radius: 50%;
  
}
#c2-2 p {
  font-size: 12px;
  margin-left: 5px;
  left: 59px;
  display: flex;
  position: absolute;
}
#Out >img{
  width: 30px;
  height: 30px;
}
#comment1{
  display:block;
}
.cc-1{
  display:flex;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #e0d8d8;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.Guideline{
  display:block;
  
}
.Guideline p{
  margin-top: 44px; 
  color: var(--secondary-color);
  
}

#sidebar .side h5 {
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  margin-bottom: 6px;


} 
}